# Backup and copy files
*.kopie
* - Kopie.*
*.bak
*.backup
*~

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/settings.json
.idea/

# Python
.venv/

# Temporary files
*.tmp
*.log











